h1 {
  font-size: 35px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

body {
  background-image: url('http://wallpapercave.com/wp/pEeUsp1.jpg');
}

h1,
h2 {
  color: $white;
}

p {
  color: $white;
  font-size: 16px;
  margin: 140px;
  text-align: center;
  }
